CourseTrack/BusinessLayer/bin/
CourseTrack/BusinessLayer/obj/
CourseTrack/DataLayer/bin/
CourseTrack/DataLayer/obj/
CourseTrack/CourseTrack/bin/
CourseTrack/CourseTrack/obj/
CourseTrack/CourseTrack.Tests/bin/
CourseTrack/CourseTrack.Tests/obj/
CourseTrack/.vs/CourseTrack/FileContentIndex/275d8bca-7d6d-4925-b238-c7ae02ee244c.vsidx
CourseTrack/.vs/CourseTrack/FileContentIndex/118d6f42-f8dd-44a5-b293-3e482cd68fec.vsidx
CourseTrack/.vs/CourseTrack/FileContentIndex/4faf517b-7d38-4e11-b49d-fb528b8a7f20.vsidx
CourseTrack/CourseTrack/logs.json
