@using BusinessLayer.Models
@using CourseTrack.Controllers
@model IEnumerable<CourseWorkViewModel>

<h2>Курсові роботи:</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Тема</th>
            <th>Статус</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coursework in Model)
        {
            <tr>
                <td>@coursework.Theme</td>
                <td>@coursework.Status</td>
                <td>
                    @using (Html.BeginForm("AllStudentTasks", "Task", FormMethod.Get))
                    {
                        <button type="submit" class="btn btn-primary" style="margin-left: 20px;">Таски</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
